@import 'fonts.scss';

html {
  background: url(../images/background-image.png) no-repeat center top fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Arial, serif;
  font-size: 16px;
  color: #ffffff;
  background: inherit;
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-left: -313px;
  margin-top: -217px;
  width: 626px;
  height: 434px;
  border-radius: 4px;
  background: inherit;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: url(#blur);
    filter: blur(10.48px);
    overflow: hidden;
    background-clip: border-box;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.content__form {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  padding-top: 45px;
  padding-bottom: 45px;
  border-radius: 4px;
  box-shadow: 0 2px 32px rgba(0, 0, 0, 0.9);
  background: rgba(240, 240, 240, 0.15);
}

.form__return-link {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  outline: none; // лучше конечно рамку показывать
  &:hover, &:focus {
    color: #000000;
  }
}
.form__return-link-arrow {
  font-size: 14px;
}

.form__logo {
  margin-bottom: 22px;
}

.form__field-block {
  position: relative;
  width: 369px;
  height: 48px;
  margin-bottom: 18px;
}

.form__label {
  font-size: 0;
}

.form__field {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding-top: 5px; // Особенность шрифта
  color: #000;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  background: none;
  &::placeholder {
    color: rgba(255, 255, 255, 0.4)
  }
  &:active, &:focus {
    color: #000;
    background: #ffffff;
    outline: none; // лучше конечно рамку показывать
    &::placeholder {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
.form__field--error + .form__label {
  &:after {
    content: "!";
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 22px;
    line-height: 34px;
    border-radius: 50%;
    background-color: #B40000;
  }
}
.form__field--error {
  color: #B40000;
  &:active, &:focus {
    color: #B40000;
  }
}
.form__field--success + .form__label {
  &:after {
    content: "✓";
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 22px;
    line-height: 34px;
    border-radius: 50%;
  }
}

.form__misc-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 325px;
  height: 24px;
  margin-bottom: 27px;
}

.form__remember-field {
  display: none;
}

.form__remember-label {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 55px;
  cursor: pointer;
  outline: none; // лучше конечно рамку показывать
  &:before {
    display: block;
    position: absolute;
    top: -7px; // шрифт не хочет центрироваться нативно
    left: 0;
    content: "";
    width: 44px;
    height: 24px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #ffffff;
    background: none;
  }
  &:after {
    content: "";
    position: absolute;
    top: -3px; // шрифт не хочет центрироваться нативно
    left: 4px;
    display: block;
    width: 22px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 25px;
    border: none;
    background: rgba(255, 255, 255, 0.4);
  }
  &:hover, &:focus {
    color: #000000;
  }
}

.form__remember-field:checked + .form__remember-label {
  &:after {
    left: 18px;
    background: #ffffff;
  }
}

.form__remind-link {
  color: #ffffff;
  outline: none; // лучше конечно рамку показывать
  &:hover, &:focus {
    color: #000000;
    text-decoration: none;
  }
}

.form__button {
  width: 151px;
  height: 48px;
  box-sizing: border-box;
  padding-top: 5px; // Особенность шрифта
  text-align: center;
  font-family: inherit;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2.53px;
  border: 1px solid #fff;
  border-radius: 25px;
  background: none;
  cursor: pointer;
  outline: none; // лучше конечно рамку показывать
  &:hover, &:focus {
    color: #000;
    background: #fff;
  }
}
.form__button--disabled, .form__button--disabled:hover {
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  background: none;
  cursor: default;
}

svg {
  height:0;
  width: 0;
  position: absolute;
  z-index: 0;
}

input::-ms-clear {
  display: none;
}

@media (max-width: 626px) {
  .form__return-link {
    top: 20px;
    left: 30px;
  }
  .content {
    margin-left: -200px;
    width: 400px;
  }
  .form__field-block {
    width: 340px;
  }
  .form__misc-block {
    width: 300px;
  }
}

@media (max-width: 426px) {
  .form__return-link {
    top: 10px;
    left: 10px;
  }
  .content {
    margin-left: -150px;
    width: 300px;
  }
  .form__field-block {
    width: 240px;
  }
  .form__misc-block {
    width: 220px;
  }
  .form__remember-label {
    font-size: 12px;
  }
  .form__remind-link {
    font-size: 12px;
  }
}